@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --main-color:#062d65;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:#eee;
    --border:1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;  
    text-transform: capitalize;
}

/* logo starts */

.logo-box
{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vw 7vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}


.logo-icon
{
    cursor: pointer;
}

.logo-contact
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo-text
{
    margin-left: 30px;
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}



/* logo ends */


/* navigation starts */

nav {
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    padding: 1vw 7vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav .logo{   
    cursor: pointer;
}

nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;   
}

nav ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a{
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.6s ease;
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover{
    color: #fdc93b;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

/* navigation ends */


/* home starts */ 

/*----slide animation----*/

.load{
    animation: slide 2s;
}

.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 50s infinite;
}

.content{
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.principal{
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    position: absolute;
    letter-spacing: 5px;
    text-align: center;
}

.principal h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.principal p{
    font-size: 15px;
}

/*=*/

.btn {
    margin-top: 60px;
}

.btn a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: #fff;
    font-weight: 600;
    border-radius: 5px;
}

.btn a.blue-q{
    color: #fff;
    background: rgb(21, 21, 100);
    transition: 0.3s ease;
}

.btn a.blue-q:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}


@keyframes slide {
    0%{
        background-image: url(img/c7.jpg);
    }
    20%{
        background-image: url(img/c8.jpg);
    }
    20.01%{
        background-image: url(img/333.jpg);
    }
    40%{
        background-image: url(img/5.jpg);
    }
    40.01%{
        background-image: url(img/dt5.jpg);
    }
    60%{
        background-image: url(img/dt6.jpg);
    }
    60.01%{
        background-image: url(img/3t.jpg);
    }
    80%{
        background-image: url(img/v.jpg);
    }
    80.01%{
        background-image: url(img/c5.jpg);
    }
    100%{
        background-image: url(img/c10.jpg);
    }
}

/*--*/

/* home ends */


/* expert starts */

#experts{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
}

#experts h1{
        font-size: 40px;
        margin-bottom: 20px;
}

/* expert ends */

/* expert 2 starts */



/* expert 2 ends * /

/* table starts */

.table {
    border: 4px solid black;
    margin: 10px 20px;
}

.table table {
  padding: 20px 15px 10px;
  margin: 10px 20px;
  transition: all 2s ease-in-out;
}

.table table:hover .image img{
    transition: all 2s ease-in-out;
  }


.table table:hover .image img{
    transform: scale(1.3);
  }
  
.table table .image {
    overflow: hidden;
  }

.table-img {
    width: 100%;
    height: 50%;
  float: right;
}

td {
    text-align: left;
  }

td h3{
    font-size: 30px;
    font-weight: 50px;
    margin: 10px 20px;
    text-align: left;
    color: #062d65;
}

td p {
    font-size: 20px;
    font-weight: 30px;
}

tr {
    margin: 10px 20px;
}
  
  


/* table ends */




/*----second part starts ----*/

.load2{
    animation: slide 2s;
}

.slider2{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    animation: slide 30s infinite;
}

@keyframes slide2 {
   
}


/*- second part ends */


/* third section starts */

.third{
    padding: 8vw 8vw 8vw 8vw;
    text-align: center;
    animation: mysha 5s infinite;
}

@keyframes mysha {
    50% {text-shadow: 10px 20px 30px rgb(31, 31, 95);}
}


.third h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.third p{
font-size: 25px;
}

/* third section ends*/


/* last tab starts */

.last{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(img/abb.jpg);
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}


.last h1{
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

/* last tab ends */

/* multi color zoon starts*/

.myDIV{
    width: 100%;
    height: 20px;
    background: red;
    animation: mymove 5s infinite;
}

@keyframes mymove{
    50% {background-color: blue;}
}

/* multi color zoon ends */


/* footer starts */

footer{
    padding: 8vw;
    background-color: #101c32;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .footer-col {
    padding-bottom: 40px;
}

footer h3 {
    color: rgb(241, 240, 245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li{
    list-style: none;
    padding: 10px 0;
    font-size: 15px;
}


footer li a{
    color: #7b838a;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li a:hover {
    color: rgb(241, 240, 245);
}

footer p {
    color: #7b838a;
}

footer .subscribe{
    margin-top: 20px;
}

footer input {
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: #fff;
}

footer .subscribe a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 12px 15px;
    background-color: #fff;
    font-weight: 600;     
}

footer .subscribe a.yellow{
    color: #fff;
    background: #fdc938;
    transition: 0.3s ease;
}

footer .subscribe a.yellow:hover {
    color: rgb(21, 21, 100);
    background: #fff;
}

footer .copyright {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .copyright p{
    color: #fff;
}

@media (max-width: 769px) {

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 30px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .logo-box{
        display: inline-block;
    }

    .principal{
        bottom: 2px;
    }

    .btn{
        margin-top: 25px;
    }

    .btn a{
        font-size: 9px;
    }

    .table{
        display: inline-block;
        align-items: center;
    }

    .table h3{
        font-size: 22px;
    }

    .table p{
        display: none;
    }

}

@media (max-width: 469px) {

    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 30px;
        gap: 0;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .logo-box{
        display: inline-block;
        top: 2px
    }

    .logo-box .logo-text span{
        font-size: 12px;
    }

    .logo-box .logo-text h6{
        font-size: 12px;
    }

    .principal{
        bottom: 2px;
    }

    .principal h1{
        margin-top: 25px;
        font-size: 15px;
    }

    .principal p{
        display: none;
    }

    .btn{
        margin-top: 25px;
    }

    .btn a{
        font-size: 3.7px;
        font-weight: 100px;
    }

}


/*
@media (max-width: 408px) {
    .logo-box {
        bottom: 0.5px;
    }
}



/* footer ends */
  
 


/* register section */

